.home {
  .page-h1 {
    margin-top: 36px;
    @include respond(phone-small) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .page-h2 {
    width: 80%;
    font-weight: 400;
  }

  .jumbotron {
    background-image: url('../img/clothespin.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    min-height: 500px;
    display: flex;
    align-items: center;
    color: $color-light-beige;
    margin-bottom: 0px;
    h1 {
      font-size: $page-title;
      font-weight: 300;
      line-height: 1.2;
    }
    p {
      font-size: $page-xl-text;
    }
  }

  &__info-strip {
    display: flex;
    min-height: 400px;
    @include respond(tablet) {
      flex-direction: column;
    }
  }
  &__info-strip-credentials {
    min-height: 300px;
  }
  &__info-img {
    flex: 1;
    @include respond(tablet) {
      min-height: 300px;
    }
  }
  &__info-img--clutter {
    background-image: url('../img/clutter-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__info-img--clean {
    background-image: url('../img/clean.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    @include respond(tablet) {
      order: -1;
    }
  }
  &__info-text{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 36px;
    padding-right: 36px;
    background-color: $background-for-text;
    @include respond(tablet) {
      margin-top: 36px;
      padding-left: 10px;
      padding-right: 10px;
    }

    .page-h2:last-of-type {
      margin-bottom: 0px;
    }

    .btn-credentials {

    }
  }

  &__info-text-credentials {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    span {
      display: block;
    }
    span:nth-child(odd) {
      font-weight: 500;
    }
  }

}