.which-user {
  .alert {
    font-size: 14px;
  }
  .which-user-container {
    display: flex;
    justify-content: space-evenly;
    @include respond(phone-big) {
      flex-direction: column;
    }

    .parent-side{
      flex: 1;
      @include respond(phone-big) {
        border-bottom: 1px solid $primary-blue;
        padding-bottom: 20px;
        margin-bottom: 40px;
      }
    }
    
    .children-side {
      flex: 1;
    }

    //styling for adding a person
    .add-person {
      position: relative;
      width: 250px;
      @include respond(tablet) {
        width: 200px;
        height: 200px;
      }
      height: 220px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      border: 1px solid $primary-blue;
      border-radius: 10px;
      text-align: center;
      margin: auto;
      background: $primary-blue;
      color: $color-white;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

      &__plus {
        font-size: $page-xl-text;
      }
      &__close {
        position:absolute;
        top: 10px;
        right: 10px;
        width: 20px;
        cursor: pointer;
      }

      .front {
        cursor: pointer;
      }
      .back {
        padding-left:10px;
        padding-right: 10px;
      }

      .which-user-form {
        width: 80%;
        margin: auto;

        .form__form-group {
          
          input {
            width:100%;
            padding-left: 5px;
            margin-bottom: 10px;
            text-align: center;
          }
          input::placeholder {
            color: #999;;
          }
        }
      }
    }
    .add-person--disabled {
      user-select: none;
      background: #ccc;
      color: #999;
      cursor:not-allowed;
      border: 1px solid #ccc;

      .front,
      .back {
        user-select: none;
        pointer-events: none;
        cursor: not-allowed;
      }
    }
    .add-person--disabled:hover {
      background-color: #ccc;
      color: #999;
    }

    //styling for listing person
    .parent-list {
       display:flex;
       flex-direction: column;

       &__no-child {
        width: 250px;
        margin: auto;
        text-align: center;
       }
    }
    .person-box {
      position: relative;
      width: 250px;
      @include respond(tablet) {
        width: 200px;
        height: 200px;
      }
      height: 220px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      border: 1px solid $primary-blue;
      border-radius: 10px;
      text-align: center;
      margin: auto;
      margin-bottom: 20px;
      background: $color-white;
      color: $primary-blue;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

      &__plus {
        font-size: $page-subtitle;
      }
      &__close {
        position:absolute;
        top: 10px;
        right: 10px;
        width: 20px;
        cursor: pointer;
      }

      .front {
        cursor: pointer;
      }
      .back {
        padding-left:10px;
        padding-right: 10px;
      }

      .which-user-form {
        width: 80%;
        margin: auto;

        .form__form-group {
          input {
            width:100%;
            padding-left: 5px;
            margin-bottom: 10px;
            border: 1px solid $primary-blue;
            color: $primary-blue;
            text-align:center;
          }
          input::placeholder {
            color: #999;
          }
        }
      }
    }
    .person-box--disabled {
      user-select: none;
      background: #ccc;
      color: #999;
      cursor:not-allowed;
      border: 1px solid #ccc;

      .front,
      .back {
        user-select: none;
        pointer-events: none;
        cursor: not-allowed;
      }
    }
    .person-box--disabled:hover {
      background-color: #ccc;
      color: #999;
    }
  }

}