.navbar {
  //min-height: 60px;
  background-color: $primary-blue; 
  z-index: 3;
  
  &-brand {
    font-size: $page-md-text;
    color: $color-white !important;
  }

  &-collapse {
    font-size: $page-md-text;
    // @include respond(phone-big) {
    //   display: inline-block !important;
    //   flex-basis: unset;
    //   flex-grow: unset;
    // }
  }

  .nav-item {
    font-size: $page-md-text;
    span {
      display: inline-block;
      width: 100%;
    }
  }

  .dropdown-toggle {
    color: $color-white !important;
    @include respond(tablet) {
      text-align: right;
    }
  }

}