$primary-blue: #2e40dc;
$success: #1AB10D;
$color-white: #ffffff;

//text colors
$primary-text: #362e2e;

//font sizes
$page-title: 48px;
$page-subtitle: 36px;
$page-lg-text: 18px;
$page-md-text: 16px;
$page-sm-text: 14px;