//$primary-blue: #2e40dc;
$primary-blue: #015D8B;
$success: #1AB10D;
//$danger: #964239;
$color-white: #ffffff;
$color-light-beige: #fbfbfb;
$color-border: #cccccc;

//text colors
$primary-text: #362e2e;

//font sizes
$page-title: 4.8rem;
$page-subtitle: 3.6rem;
$page-xl-text: 2.4rem;
$page-lg-text: 1.8rem;
$page-md-text: 1.6rem;
$page-sm-text: 1.4rem;

//home page text
$background-for-text: #fafafa;