.form-container {


  .form-title {
    text-align: center;
    font-size: $page-subtitle;
    margin-bottom: 25px;
  }
  .form-wrapper {
    border: 1px solid $color-border;
    background-color: $color-light-beige;
    padding: 20px;
    min-width: 322px;
    width: 50%;
    margin: auto;

    .alert {
      font-size: $page-sm-text;
    }

    .form__form-group {
      color: $primary-text;
      width: 60%;
      margin: auto;
      margin-bottom: 30px;

      &-label {
        font-size: $page-lg-text;
        @include respond(tablet) {
          font-size: $page-md-text;
        }
      }
      &-field {
        min-width: 125px;

        input,
        textarea {
          width: 100%;
          font-size: $page-sm-text;
          border: 1px solid #c4c4c4;
          padding-left: 5px;
        }
      }
    }

    .form__button-toolbar {
      width: 60%;
      margin: auto;
      display: flex;
      justify-content: space-between;
    }

  }
}