.page-title {
  text-align: center;
  font-size: $page-title;
  margin-bottom: 36px;
}
.page-subtitle {
  text-align: center;
  font-size: $page-subtitle;
  margin-bottom: 36px;
}
.page-widget-title {
  font-weight: 500;
}

.page-h1 {
  text-align: center;
  font-size: $page-subtitle;
  margin-bottom: 36px;
}
.page-h2 {
  font-size: $page-xl-text;
  margin-bottom: 36px;
}
